<!DOCTYPE html>
<html>
 {% include head.html %}
  <body>
  {% include header.html %}
  <div class="SCROLLER">
    <div class="full_hero">
    <div class="my_own_stuff">
      <a href="fresh.html" class="additives">Home</a>
      <a href="tags.html" class="additives">Tags</a>
      <a href="extra.html" class="additives">Extra</a>
      <a href="more.html" class="additives">More</a>
    </div>

    <p style="border: 1px solid black ; ">
      So I am still working at my grandma's house due to the network issues I am
      currently facing, but then I guess a man has to sacrifice. I have locked in
      the kids are very mad  that I am not playing with them which is very sad and
      adorable. But then again, a man ahass to sacrifice, one day they'll get that
      cousin was working on something and understand that it was a now or never type
      thing. anyway I just had to write this becoz I need to do more practice on the
      text editing things.
    </p>

    </div>
    <h3>We are winning</h3>
    <p>
       Still having some network issues, but we are going somewhere because, we
       not losin time anymore and also we are not weird anymore, which is a joke
       WEIRD, we are still, NERDY, we have upgraded, genius:Not, hard working, yes
       I am. Warning: If you seem to believe in this paragraph, know that it was
       only written to have something to edit and not really real.
     </p>
    <table style="margin: 0 auto; text-align: center" >
      <h3 class="the_header">How people test mics per class</h3>
     <tr>
       <th class="My_tables">Getto</th>
       <th class="My_tables">Middlers</th>
       <th class="My_tables">Billionaire</th>
     </tr>
     <tr>
       <td class="My_tables">Thobela one two one two</td>
       <td class="My_tables">Testing  testing</td>
       <td class="My_tables">1 billion, 2 billion, 3 billion</td>
     </tr>
    </table>
    <div class="bio_wrapper">


    <div class="boi_box">
      <img src="https://placekittens.com/g/400/400" alt=" cute ">
      <h2 class="bio_cat">Cat</h2>
      <p class="bio_copy">SO not much happening righ now I Just need a couple of paragraphs source
         I can get to edit and see a couple of thing in relation to css, anyway I
         tthink we are almost there now just some more words and we are done
     </p>
    </div>
    <div class="boi_box">
      <img src="https://placekittens.com/g/400/400" alt=" cute ">
      <h2 class="bio_cat">Cat</h2>
      <p class="bio_copy">
         SO not much happening righ now I Just need a couple of paragraphs source
         I can get to edit and see a couple of thing in relation to css, anyway I
         tthink we are almost there now just some more words and we are done
      </p>
    </div>
    <div class="boi_box">
      <img src="https://placekittens.com/g/400/400" alt=" cute ">
      <h2 class="bio_cat">Cat</h2>
     <p class="bio_copy">
       Success is often the result of persistence, adaptability, and a
        willingness to learn from failure. Many people dream of achieving
        great things, but only those who consistently work toward their goals,
        despite obstacles, truly succeed. Challenges are inevitable, but they
        also provide valuable lessons that shape resilience and creativity.
     </p>
    </div>
    <div class="boi_box">
      <img src="https://placekittens.com/g/400/400" alt=" cute ">
      <h2 class="bio_cat">Cat</h2>
      <p class="bio_copy">
      Whether in personal growth, career advancement, or creative pursuits,
      progress comes from embracing effort and maintaining a positive mindset.
      Ultimately, success is not just about reaching a destination but also
      about the journey and the person you become along the way
      </p>
    </div>
  </div>
    <p class="bio_copy">
      SO not much happening righ now I Just need a couple of paragraphs source
       I can get to edit and see a couple of thing in relation to css, anyway I
       tthink we are almost there now just some more words and we are done
     </p>

   </div>
   {% include footer.html%}
  </body>
</html>
